@charset "utf-8";

/* CSS Document */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 't-light', Arial;
    font-size: 14px;
    line-height: 20px;
    background: #f6f3e4;
    font-family: "Comic Sans MS"
}

.menutren {
    top: 0;
    margin: 0 auto;
    border-bottom: solid 3px #ede9d0;
    text-transform: uppercase;
    font-weight: bold;
}

.menutren ul {
    padding: 10px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin: 0 auto;
    width: 1500px;
    overflow: hidden;
}

.menutren ul li {
    list-style: none;
    float: left;
    padding-top: 10px;
    position: relative;
}

.menutren ul li a {
    text-decoration: none;
    padding: 49px 45px;
    cursor: pointer;
    border-top: none;
    color: #444;
    font-size: 15px;
}

.menutren ul li a:hover {
    color: rgb(250, 249, 249);
}

.menutren ul li a.home:hover,
.menutren ul li a.wishlist:hover,
.menutren ul li a.account:hover,
.menutren ul li a.cart:hover,
.menutren ul li a.checkout:hover {
    background-color: #CCC;
}

.menutren ul li.active a:hover {
    background-color: #da4902;
}


/* END Menu ngang trên */


/* đăng kí đăng nhâp*/

h4 {
    padding: 2px;
    float: right;
    margin-right: 50px;
    color: #CCC;
}

h4 a {
    color: rgba(7, 4, 4, 0.199);
    text-decoration: none;
}

h4 a:hover {
    color: #999;
    text-decoration: underline;
}

#baotrang {
    width: 1500px;
    margin: 0 auto;
    height: 1600px;
}

#banner {
    width: 1500px;
    height: 150px;
    background: #FFF;
}

.logo {
    margin-left: 0px;
}

.logo p {
    float: left;
    margin-top: 40px;
    font-size: 40px;
    font-family: 'Comic Sans MS', cursive;
}

.logo p span {
    color: #d3c4ae;
    text-shadow: 0 4px #fab65c67;
    font-family: 'Comic Sans MS', cursive;
    font-size: 35px;
}

.timkiem {
    float: right;
    font-weight: bold;
    margin-right: 25px;
}


/*menu dưới banner */

#menu {
    background: #2b2a28 url(../image/linkz_menu.png) repeat-x;
    float: left;
    width: 1500px;
    border-bottom: solid 3px #ede9d0;
}

#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: url(../image/linkz_sep.png) repeat-y left;
}

#menu ul li {
    float: left;
    position: relative;
    text-align: center;
}

#menu ul li a {
    margin: 5px;
    padding: 5px;
    display: block;
    color: #ffbfcb81;
    text-decoration: none;
    width: 110px;
    font-size: 16px;
}

#menu ul li a:hover {
    background: #FFF;
    color: #666;
}

#menu ul li ul {
    position: absolute;
    display: none;
    width: 1500px;
    background: #2b2a28 url(../image/linkz_menu.png) repeat-x;
    -moz-border-radius-bottomleft: 10px;
    border: 1px solid #999;
}

#menu ul li:hover ul {
    display: block;
    float: left;
}

#menu ul li:hover ul li {
    width: 150px;
    float: left;
}

#khoangtrong {
    width: 1500px;
    height: 40px;
    background: #ffffff;
}


/*nội dung */


/*cột trái*/

#cottrai {
    width: 200px;
    height: 700px;
    float: left;
    border: 3px solid #CCC;
}

#chon p {
    margin: auto;
    padding: 3px;
}

#chon p span {
    margin-left: 6px;
    color: #333;
}

#timtheogia {
    padding: 8px;
    text-align: left;
}

#timtheogia p {
    margin-left: 0px;
    padding: 5px;
    color: #333;
}

#timtheogia p a {
    color: #333;
    text-decoration: none;
}

#timtheogia p a:hover {
    color: #999;
    text-decoration: underline;
}


/*hết cột trái*/


/*cột phải */

#cotphai {
    width: 1290px;
    height: 2400px;
    border: 1px solid #CCC;
    float: right;
    border-radius: 10px;
}

#hot {
    width: 1290px;
    height: 280px;
    margin: 0 auto;
}

#hot p {
    text-align: center;
    background: #ffbfcb;
    color: #000;
    text-transform: uppercase;
    border-radius: 10px;
}

#hot a img {
    height: 240px;
    width: 240px;
}

#hot a img:hover {
    border: rgb(226, 17, 17) 2px solid;
}

#moive {
    padding-top: 10px;
    width: 1290px;
    height: 720px;
    margin: 0 auto;
}

#moive p {
    padding-left: 20px;
    background: #ffbfcb;
    color: #000;
    border-radius: 8px;
}

#hang1 {
    width: 1290px;
    height: 300px;
    margin: 5px;
    padding: 5px;
}

#hang1 span {
    color: #09F;
    font-weight: bold;
}

#hang1 a,
#hang2 a {
    color: #333;
    text-decoration: none;
}

#hang1 dd a:hover,
#hang2 dd a:hover {
    color: #999;
    text-decoration: underline;
}

#sp1 {
    width: 400px;
    float: left;
    text-align: center;
    color: #CCC;
}

#sp2 {
    width: 400px;
    float: left;
    text-align: center;
    color: #CCC;
}

#sp3 {
    width: 400px;
    float: left;
    text-align: center;
    color: #CCC;
}

#hang2 {
    width: 1290px;
    height: 100px;
    margin: 5px;
    padding: 5px;
}

#hang2 span {
    color: #09F;
    font-weight: bold;
}


/*zoom ảnh */

.img-zoom {
    position: relative;
    z-index: 0;
}

.img-zoom:hover {
    background-color: transparent;
    z-index: 50;
}

.img-zoom span {
    position: absolute;
    padding: 5px;
    left: -1000px;
    border: 2px solid rgb(0, 0, 0);
    visibility: hidden;
    text-decoration: none;
    border-radius: 10px;
    width: 350px;
    height: 350px;
    background: #ff6a80;
}

.img-zoom span img {
    border-width: 0;
    padding: 2px;
}

.img-zoom:hover span {
    visibility: visible;
    top: -100px;
    left: 60px;
    background: #ff6a80;
}

.img-zoom span i:hover {
    color: #ffbfcb;
}

.img-zoom span img:hover {
    border: 1px solid #000;
}


/*hết zoom ảnh chú thích */


/*Đăng nhập*/

.dn:hover {
    background-color: #fab65c67;
}


/*hết cột phải	

/*chân website */

#footer {
    font-family: "Comic Sans MS";
    float: left;
    width: 100%;
    height: 160px;
    border-top: 4px solid #ff6a80;
    color: #9e9e9e;
    background-color: #212121;
}

#footer a {
    margin-left: 3px;
}

#footer p {
    text-align: left;
    margin: 0;
    padding-top: 5px;
    font-size: 15px;
    margin-left: 10px;
}

#footer-right {
    color: #ff6a80;
    float: right;
    font-style: italic;
    padding-right: 15px;
}

#footer p a {
    color: #9e9e9e;
    text-decoration: none;
    font-size: 15px;
}

#footer p a:hover {
    color: #ff6a80;
}

.phan2 a {
    color: #f8f3f3;
    font-size: 15px;
    text-decoration: none;
    float: left;
}

.phan2 a:hover {
    color: #ff6a80;
}


/*end bao trang */

#dautrang {
    float: right;
    width: 100%;
    height: 28px;
}

.dautrang1 a {
    float: right;
}


/* Nút gửi nhận xét */

button {
    margin: 10px;
    margin-top: 25px;
}

.custom-btn {
    width: 90px;
    height: 38px;
    color: rgb(10, 10, 10);
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.btn-6 {
    background: rgb(247, 150, 192);
    background: radial-gradient(circle, rgba(247, 150, 192, 1) 0%, rgba(118, 174, 241, 1) 100%);
    line-height: 42px;
    padding: 0;
    border: none;
}

.btn-6 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.btn-6:before,
.btn-6:after {
    position: absolute;
    content: "";
    height: 0%;
    width: 1px;
    box-shadow: -1px -1px 20px 0px rgb(243, 217, 237), -4px -4px 5px 0px rgb(232, 53, 53), 7px 7px 20px 0px rgba(226, 61, 61, 0.4), 4px 4px 5px 0px rgba(0, 0, 0, .3);
}

.btn-6:before {
    right: 0;
    top: 0;
    transition: all 500ms ease;
}

.btn-6:after {
    left: 0;
    bottom: 0;
    transition: all 500ms ease;
}

.btn-6:hover {
    background: transparent;
    color: #76aef1;
    box-shadow: none;
}

.btn-6:hover:before {
    transition: all 500ms ease;
    height: 100%;
}

.btn-6:hover:after {
    transition: all 500ms ease;
    height: 100%;
}

.btn-6 span:before,
.btn-6 span:after {
    position: absolute;
    content: "";
    box-shadow: -1px -1px 20px 0px rgb(231, 114, 203), -4px -4px 5px 0px rgb(240, 121, 212), 7px 7px 20px 0px rgba(0, 0, 0, .4), 4px 4px 5px 0px rgba(0, 0, 0, .3);
}

.btn-6 span:before {
    left: 0;
    top: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
}

.btn-6 span:after {
    right: 0;
    bottom: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
}

.btn-6 span:hover:before {
    width: 100%;
}

.btn-6 span:hover:after {
    width: 100%;
}


/* TRANG GIỚI THIỆU*/

#gioithieu h1 {
    font-weight: bold;
    font-size: 50px;
    padding-top: 20px;
}

#gioithieu p {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

#gioithieu p a {
    font-size: large;
    color: black;
    LINE-HEIGHT: 115%;
    FONT-FAMILY: 'Times New Roman', 'serif';
}

#gioithieu p b {
    box-sizing: border-box;
    font-size: 40px;
    font-weight: bolder;
    color: black;
    LINE-HEIGHT: 115%;
    FONT-FAMILY: 'Times New Roman', 'serif';
}

.content {
    FONT-FAMILY: 'Times New Roman', 'serif';
    width: 100%;
    height: 370px;
}

.content h1 {
    text-align: center;
    line-height: 50px;
}

.content p {
    text-align: center;
    line-height: 40px;
}

aside {
    margin-left: 100px;
    font-weight: bold;
    float: left;
}

section {
    font-weight: bold;
    float: right;
    margin-right: 100px;
}

aside h3,
section h3 {
    border-bottom: 1px dashed #ff6a80;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
}

aside img,
section img {
    width: 280px;
    height: 280px;
    border: 1px #ff6a80 solid;
    padding: 7px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    margin-top: 20px;
}